[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/ComputeLibrary"]
	path = 3rdparty/ComputeLibrary
	url = https://github.com/embedded-dev-research/ComputeLibrary
[submodule "3rdparty/onnx"]
	path = 3rdparty/onnx
	url = https://github.com/onnx/onnx
[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = https://github.com/opencv/opencv
