name: Static analysis

on: [pull_request]

jobs:
  clang-tidy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
          key: ${{ github.job }}
    - uses: ZedThree/clang-tidy-review@v0.14.0
      id: review
      name: Run clang-tidy
      with:
        build_dir: build
        apt_packages: ninja-build
        cmake_command: cmake -S . -B build -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        config_file: .clang-tidy
        exclude: 3rdparty
        split_workflow: true
        lgtm_comment_body: ""
      env:
        CC: clang-16
        CXX: clang++-16
    - if: steps.review.outputs.total_comments > 0
      run: |
        echo "clang-tidy run has failed. See 'Run clang-tidy' stage logs"
        exit 1
